{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
    {{ parent() }} - Blog
{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">

    </div>
{% endblock %}