{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
Doctrine 2 Page
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 70px;">
        <div class="page-header">
            <h1>Doctrine 2</h1>
        </div>

        {#<div>#}
            {#<h4>In development</h4>#}
        {#</div>#}

        <div class="container">
            {% for key, doctrinePost in records %}
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            {% if doctrinePost.text != 'null' %}
                                <h2>
                                    <strong>{{ doctrinePost.text }}</strong>

                                    <a href="{{ path('Doctrine2', {'name' : doctrinePost.text}) }}" style="float: right;">
                                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                    </a>
                                </h2>
                            {% endif %}
                        </div>

                        <div>
                            {{ doctrinePost.description|raw }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div style="height: 30px"></div>

        <a class="btn btn-primary" href="http://ormcheatsheet.com/" role="button">Read more about Doctrine</a>
    </div>
{% endblock %}