{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
FAQ
{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 70px;">
        <div class="page-header">
            <h1>Frequently asked questions</h1>
        </div>

        <div class="contentBoxFooter">
            <div>
                <a href="a1" class="spoilerButton">1. Question about Doctrine: <i class="fa fa-arrow-down"></i></a>
                <div id="a1" class="spoiler" style="display: none;">Max content.</div>
            </div>
        </div>

    </div>
{% endblock %}