{% extends '::base.html.twig' %}

{% block title %}
Index Page
{% endblock %}

{% block body %}

    <div class="container" style="padding-top: 30px;">

        <div class="jumbotron">
            <!-- <h1>Navbar example</h1> -->
            <p></p>
        </div>

    </div> <!-- /container -->

{% endblock %}