{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
Symfony 2 Page
{% endblock %}

{% block body %}
    <script>hljs.initHighlightingOnLoad();</script>

    <div class="container" style="margin-bottom: 70px;">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            <li class="{% if tab == 'controller' %}active{% endif %}"><a href="#controller" data-toggle="tab"><span class="glyphicon glyphicon-home"></span> Controller</a></li>
            <li class="{% if tab == 'twig' %}active{% endif %}"><a href="#twig" data-toggle="tab"><span class="glyphicon glyphicon-file"></span> Twig</a></li>
            <li class="{% if tab == 'console-commands' %}active{% endif %}"><a href="#console-commands" data-toggle="tab"><span class="glyphicon glyphicon-console"></span> Console commands</a></li>
            <li class="{% if tab == 'routing' %}active{% endif %}"><a href="#routing" data-toggle="tab"><span class="glyphicon glyphicon-sort"></span> Routing</a></li>
        </ul>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane {% if tab == 'controller' %}active{% endif %}" id="controller">
                {% include 'TimCheatSheetBundle:Default/symfony2:controller.html.twig' %}
            </div>

            <div class="tab-pane {% if tab == 'twig' %}active{% endif %}" id="twig">
                {% include 'TimCheatSheetBundle:Default/symfony2:twig.html.twig' %}
            </div>

            <div class="tab-pane {% if tab == 'console-commands' %}active{% endif %}" id="console-commands">
                {% include 'TimCheatSheetBundle:Default/symfony2:consoleCommands.html.twig' %}
            </div>

            <div class="tab-pane {% if tab == 'routing' %}active{% endif %}" id="routing">
                {% include 'TimCheatSheetBundle:Default/symfony2:routing.html.twig' %}
            </div>
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
    </div> <!-- /container -->
{% endblock %}