{% extends 'TimCheatSheetBundle::layout.html.twig' %}

{% block title %}
Symfony 2 Page
{% endblock %}

{% block body %}
    <script>hljs.initHighlightingOnLoad();</script>

    <div class="container" style="padding-top: 30px; padding-bottom: 60px;">

        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
            {% for key, postType in postTypes %}
                <li class="{% if postType.isActive %}active{% endif %}"><a href="#{{ postType.name }}" data-toggle="tab"><span class="glyphicon {{ postType.icon }}"></span> {{ postType.name }}</a></li>
            {% endfor %}
        </ul>

        <div id="my-tab-content" class="tab-content">
            {% for key, postType in postTypes %}
                <div class="tab-pane {% if postType.isActive %}active{% endif %}" id="{{ postType.name }}">
                    {% include 'TimCheatSheetBundle:Default/symfony2:template.html.twig' with {'posts' : posts[postType.id], 'name' : postType.name} %}
                </div>
            {% endfor %}
        </div>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
    </div>
{% endblock %}