
<div class="page-header">
    <h1>Testing</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <pre>
Symfony2 works with PHPUnit

# specify the configuration directory on the command line
$ phpunit -c app/

# run all tests in the Utility directory
$ phpunit -c app src/Acme/DemoBundle/Tests/Utility/

# run tests for the Calculator class
$ phpunit -c app src/Acme/DemoBundle/Tests/Utility/DemoTest.php

# run all tests for the entire Bundle
$ phpunit -c app src/Acme/DemoBundle/

The createClient() method returns a client, which is like a browser that you'll use to crawl your site:
$client = static::createClient();
The request() method returns a Crawler object which can be used to select elements in the Response, click on links, and submit forms.
$crawler = $client->request('GET', '/demo/hello/Fabien');

        </pre>
    </div>
</div>